<div class="__card">
    <div class="__ad_image">
        <img src="{{ asset('images/svg_img/ebook_cover.svg') }}" style="height: 100%;" class="card-img-top" alt="ad image">
    </div>
    <div class="card_body">
        <h6 style="text-align: center;"><a class="__myPolice" href="{{ asset('ebook_subject_files/'~ebook.filename) }}" download>{{ ebook.title }}</a></h6>
    </div>
</div>