{% extends 'base.html.twig' %}
{% block title %}Nouvelle annonce d'offre{% endblock %}

{% block body %}
    <div class="__container_form">
        <div class="formBox">
            <div class="__announcement"><h5><i class="fas fa-plus-square"></i> Ajouter une offre d'emploi</h5></div>
            {% include 'job/__new_job_offer_ad_form.html.twig' %}
        </div>
    </div>
    {% include '__footer.html.twig' %}
{% endblock %}


