{% extends 'base.html.twig' %}
{% block title %}Ajout nouvelle annonce{% endblock %}
{% block body %}
    <div class="__container_form">
        <div class="formBox">
            <div class="__announcement"><h5><i class="fas fa-plus-square"></i> Ajouter une annonce</h5></div>
            {% include 'ads/__ads_form.html.twig' %}
        </div>
    </div>
    {% include '__footer.html.twig' %}
    {% block javascripts %}
        {{ encore_entry_script_tags('ads_js') }}
    {% endblock %}
{% endblock %}



