{% extends 'base.html.twig' %}
{% block title %}Nouvelle maison-villa{% endblock %}

{% block body %}
    <div class="__container_form">
        <div class="formBox">
            {% include 'house_villa/__house_form.html.twig' %}
        </div>
    </div>
    {% include '__footer.html.twig' %}
    {% block javascripts %}
        {{ encore_entry_script_tags('__form_step_handler') }}
        {{ encore_entry_script_tags('menu_handler') }}
    {% endblock %}
{% endblock %}


