{% block base_menu %}
    <div class="__dropdown_menu" >
    <div class="menu_title"><span class="h4">Services</span><span id="__menu_btn">&#9776;</span></div>
    <div class="__dropdown_container" id="__dropdown_container">
        <div class="header">
            <h3>Ailleurs sur LeYenguema</h3>
        </div>
        <div class="__menu_container">
            <div class="__menu_column">
                <ul class="nav __school_menu_link">
                    <li class="nav-item">
                        <a class="nav-link service" href="school_supporting_universe">
                            <i class="fas fa-chalkboard-teacher"></i> Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link service" href="ads_universe"><i class="fas fa-ad"></i> Annonces</a>
                    </li>
                </ul>
            </div>
            <div class="__menu_column">
                <ul class="nav  __school_menu_link">
                    <li class="nav-item">
                        <a class="nav-link service" href="jobs_universe"><i class="fas fa-bullhorn"></i> Emploi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link service" href="forum"><i class="fas fa-users"></i> Forum</a>
                    </li>
                </ul>
            </div>
            <div class="__menu_column">
                <ul class="nav  __school_menu_link">
                    <li class="nav-item">
                        <a class="nav-link service" href="traveling"><i class="fas fa-car"></i> Gare Voiture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link service" href="real_estate_universe"><i class="fas fa-home"></i> Immobilier</a>
                    </li>
                </ul>
            </div>
            <div class="__menu_column">
                <ul class="nav __school_menu_link">
                    <li class="nav-item">
                        <a class="nav-link service" href="ebook"><i class="fas fa-book"></i> Livres pdf</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link service" href="exams_subject"><i class="fas fa-scroll"></i> Anals Exams</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
